body {
  background-color: #444;
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

line, circle {
  stroke: white;
  stroke-width: 4;
}

.hide {
  visibility: hidden;
}

#game {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 5em;
  align-items: center;
  gap: 1em
}

#word {
  margin-left: 30px;
  display: flex;
  gap: 4px;
}

#word .letter {
  font-size: 2em;
  min-width: .8em;
  min-height: 1.2em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #aaa;
}

#alphabetbuttons {
  margin-top: .3em;
}

#alphabetbuttons button {
  min-width: 1.4em;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-inline-end: 4px;

  /* needed, because changing the background-color destroys the default border */
  border: 1px inset grey;
  border-radius: 4px;
}

.incorrect {
  background-color: rgba(244, 107, 107, 0.62);
  color: #aaa;
}

.correct {
  background-color: rgba(140, 244, 140, 0.6);
  color: #ccc;
}

#status {
  display: grid;
}

#won, #lost {
  grid-area: 1 / 1 ;
}

button.tryagain {
  font-size: 120%;
  padding: 1em;
  animation: pulse 1s ease-in-out infinite alternate;
}

@keyframes pulse {
  from { scale: 1;}
  to { scale: 1.1;}
}